* {
  margin: 0; 
  padding: 0px;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  background-image: url(../images/kote-puerto-704591-unsplash.jpg);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}
#screenSize {

}
#year {

}
#region {

}
#series {

}
#matrixType {

}
input {
  padding: 5px 32px;
}
input[type="submit"] {
    background-color:#47AB6C; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }