* {
  margin: 0; 
  padding: 0px;
}
html, body {
  width: 100%;
  height: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
body {
  background-image: url(../images/kote-puerto-704591-unsplash.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden, input.hidden {
  display: none;
}
#screenSize {
  position: absolute;
  top: 0px;
  left: 0px;
}
#year, #region, #screenSize, #series, #matrixType {
  padding: 2em;
  font-size: 1.5em;
  background-color: #47AB6C;
  font-weight: bold;
}
#year {
  position: absolute;
  top: 0px;
  right: 0px;
}
#region {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
#series {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
#matrixType {
  position: absolute;
  bottom: 0px;
  left:50%;
}
input {
  padding: 0.8em 1em;
  font-size: 20px;
}
.active {
  box-shadow: 0px 0px 5px 5px #000;
}
.blur {
  box-shadow: 0px 0px 0px 0px transparent;
}
input[type="button"] {
    background-color:#47AB6C; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
object {
  left: 0px;
  top: 100px;
  width: 800px;
  height: 600px;
}